<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <%- include('partials/head')%>

</head>

<body>
  <%- include('partials/navigation')%>

    <main class="vh-100 container text-center main-about d-flex justify-content-center align-items-center m-5">

      <section class="main-secti">

        <figure class="picture mt-5">
          <img src="img/imgFesp.jpeg" alt="" class="img-about animated  animate__backInDown  ">
        </figure>
        <!-- flipInY -->
          <h1>Fabián Enrique Sánchez.</h1>
          <p>Aprendiz del Sena en el área de Análisis y Desarrollo de Sistemas de Información, próximo a culminar la etapa productiva haciendo parte del grupo de Desarrollo de la empresa Electro Software S.A.S.  De antemano agradecer el apoyo obtenido por la organización y en especial al Ingeniero Román Sarmiento, por todos los conocimientos compartidos que contribuyeron enormemente a continuar con mi proceso educativo.  Este sitio web fue diseñado y construido haciendo uso de dicho conocimiento, usando módulos de Node.js: express, morgan, ejs, animate.css. ¡Incluye una recopilación de algunos de los ejercicios básicos y prácticos, construidos con HTML, CSS y JavaScript realizados en el transcurso de los últimos seis meses, que han sido invaluables!</p>

      </section>

      
    </main>

    <%- include('partials/footer') %>


</body>

</html>