<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>

  <%- include('partials/head')%>


</head>

<body>

  <%- include('partials/navigation')%>



    <form action="/send-email" method="post" class="form-register mb-5 mt-5 animated animate__backInDown"
      onsubmit="return validar();">
      <h2 class="form-title">¡Contáctame!</h2>
      <div class="contenedor-inputs">
        <input type="text" id="nombres" name="name" placeholder="Name:" class="input-48" required>
        <input type="text" id="telefono" name="phone" placeholder="Phone:" class="input-48" required>
        <input type="email" id="correo" name="email" placeholder="Email:" class="input-100" required>

        <textarea name="message" rows="3" class="form-control mb-3 textarea" placeholder="Write a Message:"
          required></textarea>

        <input type="submit" value="Enviar" class="btn btn-enviar btn-block bg-danger">
        <a href="/contact" class="forn-link"><p ></p>Borrar</p></a>
      </div>
    </form>


    <%- include('partials/footer')%>

</body>

</html>