<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>

  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/navigation')%>


    <div class="container vh-100 d-flex justify-content-center align-items-center">

      <div class="card bg-warning bg-color-shadow animated flipInY text-dark text-center">
        <div class="card-header ">
          <h1>Success ✔️</h1>

        </div>

        <div class="card-body text-start">

          <form>
            <h3>Mensaje enviado satisfactoriamente.</h3>

            <a href="/contact" class="h1 btn block bg-dark text-white d-flex justify-content-center align-items-center p-2">
              Close
            </a>

          </form>
        </div>


      </div>

    </div>

    <%- include('partials/footer')%>

</body>

</html>