* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #145f91;
}
h1 {
  color: #fff;
  text-align: center;
}

.form-register {
  width: 95%;
  max-width: 500px;
  margin: auto;
  background: white;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 5px 5px 9.5px 9.5px rgba(0 0 0 / 25%);
}

.form-title{
  background: deepskyblue;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 5px solid crimson;
}
.contenedor-inputs {
  padding:10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid darkgray;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.input-48 {
  width: 48%;
}

.input-100 {
  width: 100%;
}

.btn-enviar {
  background: crimson;
  color: #fff;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 20px;
}

.btn-enviar:active {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.forn-link {
  width: 100%;
  margin: 7px;
  text-align: center;
  font-size: 14px;
}